.main {
  padding: 40px 0;
  &__list {
    margin-bottom: 30px;
  }
  &__title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 35px;
  }
}
@media (min-width: 640px) {
  .main__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 60px;
    margin-bottom: 60px;
  }
}
@media (min-width: 1024px) {
  .main {
    padding-bottom: 60px;
  }
  .main__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1220px) {
  .main__list {
    grid-template-columns: repeat(4, 1fr);
  }
}
